
/* STYLING LOGIN PAGE */
.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    filter: drop-shadow(-.5rem .5rem 1rem var(--f-secondary));
    color: var(--f-primary);
  }
.login-container::after {
  content: "";
  position: absolute;
  inset: 1;
  width: 100%;
  height: 100%;
  outline: 2px solid ;
  background: var(--primary);
  clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 50% 50%, 50% 50%);
  z-index: -1;
}
.login-container::before {
  content: "";
  position: absolute;
  inset: 1;
  width: 100%;
  height: 100%;
  outline: 2px solid ;
  background: var(--primary);
  clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 0%, 50% 30%);
  z-index: -1;
}
.login-container h3 {
  padding: 1rem;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1px;
}
.login-img img {
  width: 17rem;
  object-fit: cover;
  border-radius: .5rem;
}
.login-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  padding: .475rem;
}
.login-btn {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 2rem;
  background-clip: text;
  padding: 0.6em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  
}
.login-btn span {
  background-image: url(../Assets/PNG/google255.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
.login-btn:hover {
  outline: 2px solid #e8e8e8; 
  transform: translateY(-4px);
}
/* STYLING DASHBOARD */
.panel-container {
  background:  hsla(220, 2%, 25%, 0.20);
}

[data-toggle="collapse"].collapsed .if-not-collapsed,
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
    
}
.panel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  transition: all 1s linear;
  transform: translateY(-200%);
  position: absolute;
  width: 100%;
  z-index: -1;
}
.panel-down {
  transition: all 1s linear;
  position: relative;
  transform: translateY(0%);
  z-index: 1;
}
.panel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(220, 2%, 25%, 0.10);
  top: 0;
  z-index: -1;
}
.panel-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50%;
  /* background: #d0d0d0; */
  box-shadow: inset 20px 20px 60px inherit,
            inset -20px -20px 60px inherit;
  padding: .5rem;
}
.panel-btn {
  padding: .7rem;
}
.dashboard-content {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}
/* ADDING ITEM FROM STYLES */
.right-mark {
  fill: var(--success);
  position: absolute;
  bottom: 20%;
  left: 10px;
}
.form-container {
  min-height: 100vh;
}

.product-form {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 47rem) {
  .product-form {
    padding-top: 3rem;
  }
}
.product-form span {
  margin: 0 .375rem;
  color: var(--danger);
}
.product-form div {
  position: relative;
  padding: .5rem;
  
}
.product-form label {
  font-size: 1.1em;
  padding: .25rem;
}
.product-form input[type="text"], .product-form textarea {
  min-width: 100%;
  padding: .475rem;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: .25rem;
  margin-top: .375rem;
  border:2px solid var(--effect-Dark);
  outline-color: var(--effect-w);
}
/* adding item from input and textarea style */
.product-form [type="number"]::-webkit-inner-spin-button 
,.product-form [type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  padding: .4rem;
}
.product-form [type="number"]{
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  max-width: 30%;
  border-radius: .375rem;
  border: 2px solid var(--effect-Dark);
  outline-color: var(--effect-w);
}

.product-form .imgs-container {
  display: flex;
  gap: .5rem;
  overflow: auto;
  position: relative;
}
.product-form .file-input{
  display: none;
}

.product-form .item-btns {
  text-align: left;
}
.product-form .item-save, .product-form .item-cancel {
  background: transparent;
  padding: .575rem 2rem;
  font-size: 1.3em;
  margin-left: 1rem;
  border-radius: .375rem;
  transition: all .2s linear;
  border: 1px solid;
  color: inherit;
  cursor: pointer;
}
.product-form .item-save:hover, .product-form .item-cancel:hover {
  transform: translateY(-2px);
  outline: 2px solid var(--effect-Dark);
}
.stats {
  padding: 1rem;
}
.stats-numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  
}
@media only screen and (max-width:47rem) {
  .stats-numbers {
    grid-template-columns: repeat(2, 1fr);
  }
}