@import './Dashboard.css';
@import './Footer.css';
@import './ProductsView';
@import './Mediaquery.css';

:root {

  --primary: #333333;
  --secondary: #f6f7f9;
  --font-on-primary: whitesmoke;
  --font-on-secondary: #000000;
  --color-effect-light: #2c8efd;
  --color-effect-Dark: #0a5ef2;
  --fill: #e00202;
}
*, ::after, ::before, ::backdrop {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label, span, li {
  font-weight: bold;
  letter-spacing: 1px;
}
button {
  cursor: pointer;
  border-radius: .375rem;
  box-shadow: -1px 1px 3px ,
              -2px 2px 3px ;
  border: none;
  transition: all .3s;
  color: var(--font-on-secondary);
}
button:hover {
  color: var(--color-effect-Dark)
}
ul {
  list-style: none;
  padding: 0;
}
select {
  min-width: 5.5rem;
  padding: .35rem;
  font-weight: bold;
  border-radius: .35rem;
  background: transparent;
  color: var(--font-on-secondary);
  outline-color: var(--color-effect-Dark);
  font-size: 1.1em;
}
option {
  color: var(--font-on-secondary);
  background-color: var(--secondary);
  text-align: center;
}
.svg {
  scale: 1.15;
  border-radius: .375rem;
  fill: var(--font-on-primary);
}
.svg-fav{
  fill: var(--fill);
}
.svg-like{
  fill: var(--color-effect-light);
}
.svg-like:hover{
  fill: var(--color-effect-light);
}
.svg-fav:hover {
  fill: var(--fill);
}
.box-shadow-down {
  box-shadow: -2px 2px 4px var(--font-on-secondary);
}
.box-shadow-up {
  box-shadow: 2px -2px 4px var(--font-on-secondary);
}
.hide {
  display: none;
}
