/* the index css handel the global stylies in the app */
*, ::after, ::before, ::backdrop {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
@font-face {
  font-family: cairo;
  src: url('./font/Cairo-Light.ttf');
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: cairo;
  font-size: 13px;
  position: relative;
}
main {
  min-height: 100svh;
}
button:disabled {
  filter: grayscale(20);
  opacity: .8;
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
ul {
  list-style: none;
  padding: 0;
}

.button {
  cursor: pointer;
  border-radius: .375rem;
  box-shadow: -1px 1px 3px ,
              -2px 2px 3px ;
  border: none;
  transition: all .3s;
  color: var(--font-on-secondary);
}
.button:hover {
  color: var(--color-effect-Dark)
}
.select {
  min-width: 5.5rem;
  padding: .2rem;
  font-weight: bold;
  border-radius: .35rem;
  background: transparent;
  font-size: .8em;
  text-align: center;
  font-family: cairo;
}
.option {
  color: var(--font-on-secondary);
  background-color: var(--secondary);
  text-align: center;
  padding-top: .2rem;
}
.box-shadow-down {
  box-shadow: 0px 2px 4px ;
}
.box-shadow-up {
  box-shadow: 0px -2px 4px ;
}
.hide {
  display: none;
}