
@media screen and (max-width: 37rem) {
    .home-nav-bar {
      width: 100%;
      right: 0;
    }
    .dis-grid  {
      flex-wrap: wrap;
      justify-content: center;
    }
    .dis-list .product-card .content {
      text-align: right;
      flex-direction: column;
    }
    .product-privew {
      display: flex;
      flex-wrap: wrap;
      
    }
  }
  @media screen and (max-width: 17rem) {
    .dis-grid  {
      flex-wrap: wrap;
    }
    .dis-list .product-card .content {
      text-align: right;
      flex-direction: column;
    }
    .product-privew {
      display: flex;
      flex-wrap: wrap;
      
    }
  }